---
permalink: "/sponsor1617/"
---
<section>
    <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <div class="title_sec">
                <table class="table table-bordered table-hover table-dark text-center linkSponsor">
                  <tr>
                    <td><h2><a href="{% link pages/sponsor1617.html%}">2016-2017</a></h2></td>
                    <td><h2><a href="{% link pages/sponsor1718.html%}">2017-2018</a></h2></td>
                    <td><h2><a href="{% link pages/sponsor1819.html%}">2018-2019</a></h2></td>
                  </tr>
                </table>
              </div>
          </div>
          <div class="sponsorImages text-center">
            <div>
            {% for image in site.static_files %}
              {% if image.path contains 'img/sponsor1617' %}
                <img src="{{image.path}}"class="col-lg-3 col-md-6 col-sm-10 col-xs-10" alt="{{file.name}}">
              {% endif %}
            {% endfor %}

            </div>
          </div>
        </div>
      </div>
</section>
